<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>404 Error || limupa - Digital Products Store eCommerce Bootstrap 4 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
        <!-- Material Design Iconic Font-V2.2.0 -->
        <link rel="stylesheet" href="stylesheets/material-design-iconic-font.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
        <!-- Font Awesome Stars-->
        <link rel="stylesheet" href="stylesheets/fontawesome-stars.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="stylesheets/meanmenu.css">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
        <!-- Slick Carousel CSS -->
        <link rel="stylesheet" href="stylesheets/slick.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="stylesheets/animate.css">
        <!-- Jquery-ui CSS -->
        <link rel="stylesheet" href="stylesheets/jquery-ui.min.css">
        <!-- Venobox CSS -->
        <link rel="stylesheet" href="stylesheets/venobox.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="stylesheets/nice-select.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="stylesheets/magnific-popup.css">
        <!-- Bootstrap V4.1.3 Fremwork CSS -->
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <!-- Helper CSS -->
        <link rel="stylesheet" href="stylesheets/helper.css">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="/stylesheets/mainStyle.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="stylesheets/responsive.css">
        <!-- Modernizr js -->
        <script src="javascripts/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->

            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->

            <!-- Li's Breadcrumb Area End Here -->
            <!-- Error 404 Area Start -->
            <div class="error404-area pt-30 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="error-wrapper text-center ptb-50 pt-xs-20">
                                <div class="error-text">
                                    <h1>404</h1>
                                    <h2>Opps! PAGE NOT BE FOUND</h2>
                                    <p>Sorry but the page you are looking for does not exist, have been removed, <br> name changed or is temporarity unavailable.</p>
                                </div>

                                <div class="error-button">
                                    <a href="/">Back to home page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Error 404 Area End -->
            <!-- Begin Footer Area -->

            <!-- Footer Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        <!-- jQuery-V1.12.4 -->
        <script src="javascripts/vendor/jquery-1.12.4.min.js"></script>
        <!-- Popper js -->
        <script src="javascripts/vendor/popper.min.js"></script>
        <!-- Bootstrap V4.1.3 Fremwork js -->
        <script src="javascripts/bootstrap.min.js"></script>
        <!-- Ajax Mail js -->
        <script src="javascripts/ajax-mail.js"></script>
        <!-- Meanmenu js -->
        <script src="javascripts/jquery.meanmenu.min.js"></script>
        <!-- Wow.min js -->
        <script src="javascripts/wow.min.js"></script>
        <!-- Slick Carousel js -->
        <script src="javascripts/slick.min.js"></script>
        <!-- Owl Carousel-2 js -->
        <script src="javascripts/owl.carousel.min.js"></script>
        <!-- Magnific popup js -->
        <script src="javascripts/jquery.magnific-popup.min.js"></script>
        <!-- Isotope js -->
        <script src="javascripts/isotope.pkgd.min.js"></script>
        <!-- Imagesloaded js -->
        <script src="javascripts/imagesloaded.pkgd.min.js"></script>
        <!-- Mixitup js -->
        <script src="javascripts/jquery.mixitup.min.js"></script>
        <!-- Countdown -->
        <script src="javascripts/jquery.countdown.min.js"></script>
        <!-- Counterup -->
        <script src="javascripts/jquery.counterup.min.js"></script>
        <!-- Waypoints -->
        <script src="javascripts/waypoints.min.js"></script>
        <!-- Barrating -->
        <script src="javascripts/jquery.barrating.min.js"></script>
        <!-- Jquery-ui -->
        <script src="javascripts/jquery-ui.min.js"></script>
        <!-- Venobox -->
        <script src="javascripts/venobox.min.js"></script>
        <!-- Nice Select js -->
        <script src="javascripts/jquery.nice-select.min.js"></script>
        <!-- ScrollUp js -->
        <script src="javascripts/scrollUp.min.js"></script>
        <!-- Main/Activator js -->
        <script src="javascripts/main.js"></script>
    </body>
</html>
