<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Account || limupa - Digital Products Store eCommerce Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <!-- Material Design Iconic Font-V2.2.0 -->
    <link rel="stylesheet" href="/stylesheets/material-design-iconic-font.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!-- Font Awesome Stars-->
    <link rel="stylesheet" href="/stylesheets/fontawesome-stars.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="/stylesheets/meanmenu.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Jquery-ui CSS -->
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="/stylesheets/venobox.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/stylesheets/nice-select.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <!-- Bootstrap V4.1.3 Fremwork CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Helper CSS -->
    <link rel="stylesheet" href="/stylesheets/helper.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/stylesheets/mainStyle.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/HoldOn.css">
    <link rel="stylesheet" href="/stylesheets/Croppie.css">


    <!-- Modernizr js -->
    <script src="/javascripts/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/sticky.css">
    <link rel="stylesheet" href="/stylesheets/iHover.css">
    <style>
        .fileContainer {
            overflow: hidden;
            position: relative;
        }

        .fileContainer [type=file] {
            cursor: inherit;
            display: block;
            font-size: 999px;
            filter: alpha(opacity=0);
            min-height: 100%;
            min-width: 100%;
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: right;
            top: 0;
        }
    </style>

</head>

<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Begin Body Wrapper -->
<div class="body-wrapper">
    <!-- Begin Header Area -->
    <%- include('header.ejs') %>
    <!-- Header Area End Here -->
    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li class="active">Home</li>
                    <li class="active">Login Register</li>
                    <li class="active">Account activation</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!-- Begin Li's Page Content Area -->
    <main class="page-content">

        <!-- Begin Li's Account Page Area -->
        <div class="account-page-area">

            <div class="container">
                <div class="row">

                    <div class="col-lg-3">

                        <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="account-dashboard-tab" data-toggle="tab"
                                   href="#account-dashboard" role="tab" aria-controls="account-dashboard"
                                   aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="account-orders-tab" data-toggle="tab" href="#account-orders"
                                   role="tab" aria-controls="account-orders" aria-selected="false">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="account-address-tab" data-toggle="tab"
                                   href="#account-address" role="tab" aria-controls="account-address"
                                   aria-selected="false">Addresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="account-details-tab" data-toggle="tab"
                                   href="#account-details" role="tab" aria-controls="account-details"
                                   aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">

                                <a href="#" class="nav-link" id="account-logout-tab" onclick="logoutOperation()"
                                   role="tab" aria-selected="false">Logout</a>


                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                            <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel"
                                 aria-labelledby="account-dashboard-tab">
                                <div class="myaccount-dashboard">


                                    <div class="row">

                                        <div class="col-6  " style="padding: 10px">
                                            <form id="userInfoUpdateForm">
                                                <div class="col-5">

                                                    <div class="container">

                                                        <div class="ih-item circle colored effect13 from_left_and_right">
                                                            <a
                                                            >
                                                                <div class="img"><img id="profileSelectedImage"
                                                                                      src="/images/proImages/DefaultProImage.png"
                                                                                      alt="img"></div>
                                                                <div class="info">


                                                                    <h3>change imge</h3>


                                                                </div>
                                                                <label class="fileContainer">
                                                                    <p>click to change the image</p>



                                                                    <input type="file" id="profileImageInput"/>
                                                                </label>
                                                            </a></div>


                                                    </div>

                                                </div>


                                                <div class="col-md-12 col-12 mb-20" style="margin-top: 10%">

                                                    <label>First name *</label>
                                                    <input class="mb-0" name="firstName" id="UserInoFirstName"
                                                           type="text"
                                                           placeholder="First name">
                                                </div>
                                                <div class="col-md-12 col-12 mb-20">
                                                    <label>Last name *</label>
                                                    <input class="mb-0" name="lastName" id="UserInoLastName" type="text"
                                                           placeholder="Last name">
                                                </div>
                                                <div class="col-md-12 col-12 mb-20">
                                                    <label>Email address *</label>
                                                    <input class="mb-0" name="email" id="UserInoEmail" type="email"
                                                           placeholder="Email Address">
                                                </div>
                                                <div class="col-md-12 col-12 mb-20">
                                                    <label>Phone number *</label>
                                                    <input class="mb-0" name="phoneNumber" id="UserInoPhoneNumber"
                                                           type="phone"
                                                           placeholder="Phone number">
                                                </div>

                                                <div class="col-md-12">
                                                    <button id="updateUserInfo" value="send"
                                                            onclick="updateUserAccountInfo()"
                                                            class="register-button mt-0">
                                                        update
                                                    </button>
                                                </div>

                                            </form>
                                        </div>


                                        <div class="col-6 " style="padding: 10px">
                                            <form id="ChangePasswordForm">
                                            <div class="col-md-12 col-12 mb-20">
                                                <label>Old password</label>
                                                <input class="mb-0" id="OldPassword" name="oldPassword" type="password"
                                                       placeholder="...">
                                            </div>
                                            <div class="col-md-12 col-12 mb-20">
                                                <label>New password</label>
                                                <input class="mb-0" id="NewPassword" name="newPassword" type="password"
                                                       placeholder="...">
                                                <label id="newPasswordLabel" style="margin-top:10px"></label>
                                            </div>

                                            <div class="col-md-12 col-12 mb-20">

                                                <input class="mb-0" id="ConfirmPassword" name="confirm new password" type="password"
                                                       placeholder="....">
                                                <label id="confirmPasswordLabel" style="margin-top:10px;color: red"></label>

                                            </div>
                                            <div class="col-md-12">

                                                <button id="changePasswordButton" class="register-button mt-0" onclick="changeUserPassword()">change password
                                                </button>

                                            </div>


                                            </form>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-orders" role="tabpanel"
                                 aria-labelledby="account-orders-tab">
                                <div class="myaccount-orders">
                                    <h4 class="small-title">MY ORDERS</h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                            <tr>
                                                <th>ORDER</th>
                                                <th>DATE</th>
                                                <th>STATUS</th>
                                                <th>TOTAL</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td><a class="account-order-id"
                                                       href="javascript:void(0)">#5364</a></td>
                                                <td>Mar 27, 2019</td>
                                                <td>On Hold</td>
                                                <td>£162.00 for 2 items</td>
                                                <td><a href="javascript:void(0)"
                                                       class="li-btn li-btn_dark li-btn_sm"><span>View</span></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a class="account-order-id"
                                                       href="javascript:void(0)">#5356</a></td>
                                                <td>Mar 27, 2019</td>
                                                <td>On Hold</td>
                                                <td>£162.00 for 2 items</td>
                                                <td><a href="javascript:void(0)"
                                                       class="li-btn li-btn_dark li-btn_sm"><span>View</span></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-address" role="tabpanel"
                                 aria-labelledby="account-address-tab">
                                <div class="myaccount-address">
                                    <p>The following addresses will be used on the checkout page by default.</p>
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="small-title">BILLING ADDRESS</h4>
                                            <address>
                                                1234 Heaven Stress, Beverly Hill OldYork UnitedState of Lorem
                                            </address>
                                        </div>
                                        <div class="col">
                                            <h4 class="small-title">SHIPPING ADDRESS</h4>
                                            <address>
                                                1234 Heaven Stress, Beverly Hill OldYork UnitedState of Lorem
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-details" role="tabpanel"
                                 aria-labelledby="account-details-tab">
                                <div class="myaccount-details">
                                    <form action="#" class="li-form">
                                        <div class="li-form-inner">
                                            <div class="single-input single-input-half">
                                                <label for="account-details-firstname">First Name*</label>
                                                <input type="text" id="account-details-firstname">
                                            </div>
                                            <div class="single-input single-input-half">
                                                <label for="account-details-lastname">Last Name*</label>
                                                <input type="text" id="account-details-lastname">
                                            </div>
                                            <div class="single-input">
                                                <label for="account-details-email">Email*</label>
                                                <input type="email" id="account-details-email">
                                            </div>
                                            <div class="single-input">
                                                <label for="account-details-oldpass">Current Password(leave
                                                    blank to leave
                                                    unchanged)</label>
                                                <input type="password" id="account-details-oldpass">
                                            </div>
                                            <div class="single-input">
                                                <label for="account-details-newpass">New Password (leave blank
                                                    to leave
                                                    unchanged)</label>
                                                <input type="password" id="account-details-newpass">
                                            </div>
                                            <div class="single-input">
                                                <label for="account-details-confpass">Confirm New
                                                    Password</label>
                                                <input type="password" id="account-details-confpass">
                                            </div>
                                            <div class="single-input">
                                                <button class="li-my-account_btn" type="submit"><span>SAVE
                                                            CHANGES</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Li's Account Page Area End Here -->
    </main>
    <!-- Li's Page Content Area End Here -->
    <!-- Begin Footer Area -->
    <div class="footer">
        <!-- Begin Footer Static Top Area -->
        <div class="footer-static-top">
            <div class="container">
                <!-- Begin Footer Shipping Area -->
                <div class="footer-shipping pt-60 pb-55 pb-xs-25">
                    <div class="row">
                        <!-- Begin Li's Shipping Inner Box Area -->
                        <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                            <div class="li-shipping-inner-box">
                                <div class="shipping-icon">
                                    <img src="/images/shipping-icon/1.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-text">
                                    <h2>Free Delivery</h2>
                                    <p>And free returns. See checkout for delivery dates.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Shipping Inner Box Area End Here -->
                        <!-- Begin Li's Shipping Inner Box Area -->
                        <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                            <div class="li-shipping-inner-box">
                                <div class="shipping-icon">
                                    <img src="/images/shipping-icon/2.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-text">
                                    <h2>Safe Payment</h2>
                                    <p>Pay with the world's most popular and secure payment methods.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Shipping Inner Box Area End Here -->
                        <!-- Begin Li's Shipping Inner Box Area -->
                        <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                            <div class="li-shipping-inner-box">
                                <div class="shipping-icon">
                                    <img src="/images/shipping-icon/3.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-text">
                                    <h2>Shop with Confidence</h2>
                                    <p>Our Buyer Protection covers your purchasefrom click to delivery.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Shipping Inner Box Area End Here -->
                        <!-- Begin Li's Shipping Inner Box Area -->
                        <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                            <div class="li-shipping-inner-box">
                                <div class="shipping-icon">
                                    <img src="/images/shipping-icon/4.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-text">
                                    <h2>24/7 Help Center</h2>
                                    <p>Have a question? Call a Specialist or chat online.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Shipping Inner Box Area End Here -->
                    </div>
                </div>
                <!-- Footer Shipping Area End Here -->
            </div>
        </div>
        <!-- Footer Static Top Area End Here -->
        <!-- Begin Footer Static Middle Area -->
        <div class="footer-static-middle">
            <div class="container">
                <div class="footer-logo-wrap pt-50 pb-35">
                    <div class="row">
                        <!-- Begin Footer Logo Area -->
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-logo">
                                <img src="/images/menu/logo/1.jpg" alt="Footer Logo">
                                <p class="info">
                                    We are a team of designers and developers that create high quality HTML Template
                                    & Woocommerce, Shopify Theme.
                                </p>
                            </div>
                            <ul class="des">
                                <li>
                                    <span>Address: </span>
                                    6688Princess Road, London, Greater London BAS 23JK, UK
                                </li>
                                <li>
                                    <span>Phone: </span>
                                    <a href="callto://+123123321345">(+123) 123 321 345</a>
                                </li>
                                <li>
                                    <span>Email: </span>
                                    <a href="mailto://info@yourdomain.com">info@yourdomain.com</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Footer Logo Area End Here -->
                        <!-- Begin Footer Block Area -->
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <div class="footer-block">
                                <h3 class="footer-block-title">Product</h3>
                                <ul>
                                    <li><a href="#">Prices drop</a></li>
                                    <li><a href="#">New products</a></li>
                                    <li><a href="#">Best sales</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Block Area End Here -->
                        <!-- Begin Footer Block Area -->
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <div class="footer-block">
                                <h3 class="footer-block-title">Our company</h3>
                                <ul>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="#">Legal Notice</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Block Area End Here -->
                        <!-- Begin Footer Block Area -->
                        <div class="col-lg-4">
                            <div class="footer-block">
                                <h3 class="footer-block-title">Follow Us</h3>
                                <ul class="social-link">
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                           title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="rss">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank" title="RSS">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                           target="_blank" title="Google Plus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                           title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank"
                                           title="Youtube">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://www.instagram.com" data-toggle="tooltip" target="_blank"
                                           title="Instagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Begin Footer Newsletter Area -->
                            <div class="footer-newsletter">
                                <h4>Sign up to newsletter</h4>
                                <form
                                        action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                        class="footer-subscribe-form validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <div id="mc-form" class="mc-form subscribe-form form-group">
                                            <input id="mc-email" type="email" autocomplete="off"
                                                   placeholder="Enter your email"/>
                                            <button class="btn" id="mc-submit">Subscribe</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Footer Newsletter Area End Here -->
                        </div>
                        <!-- Footer Block Area End Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Static Middle Area End Here -->
        <!-- Begin Footer Static Bottom Area -->
        <div class="footer-static-bottom pt-55 pb-55">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Begin Footer Links Area -->
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Online Shopping</a></li>
                                <li><a href="#">Promotions</a></li>
                                <li><a href="#">My Orders</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Most Populars</a></li>
                                <li><a href="#">New Arrivals</a></li>
                                <li><a href="#">Special Products</a></li>
                                <li><a href="#">Manufacturers</a></li>
                                <li><a href="#">Our Stores</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Payments</a></li>
                                <li><a href="#">Warantee</a></li>
                                <li><a href="#">Refunds</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Refunds</a></li>
                                <li><a href="#">Policy Shipping</a></li>
                            </ul>
                        </div>
                        <!-- Footer Links Area End Here -->
                        <!-- Begin Footer Payment Area -->
                        <div class="copyright text-center">
                            <a href="#">
                                <img src="/images/payment/1.png" alt="">
                            </a>
                        </div>
                        <!-- Footer Payment Area End Here -->
                        <!-- Begin Copyright Area -->
                        <div class="copyright text-center pt-25">
                            <span>Copyright &copy; 2018 <a href="#">Limupa.</a> All rights reserved.</span>
                        </div>
                        <!-- Copyright Area End Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Static Bottom Area End Here -->
    </div>
    <!-- Footer Area End Here -->
</div>
<!-- Body Wrapper End Here -->
<!-- jQuery-V1.12.4 -->
<script src="/javascripts/vendor/jquery-1.12.4.min.js"></script>
<!-- Popper js -->
<script src="/javascripts/vendor/popper.min.js"></script>
<!-- Bootstrap V4.1.3 Fremwork js -->
<script src="/javascripts/bootstrap.min.js"></script>
<!-- Ajax Mail js -->
<script src="/javascripts/ajax-mail.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<!-- Meanmenu js -->
<script src="/javascripts/jquery.meanmenu.min.js"></script>
<!-- Wow.min js -->
<script src="/javascripts/wow.min.js"></script>
<!-- Slick Carousel js -->
<script src="/javascripts/slick.min.js"></script>
<!-- Owl Carousel-2 js -->
<script src="/javascripts/owl.carousel.min.js"></script>
<!-- Magnific popup js -->
<script src="/javascripts/jquery.magnific-popup.min.js"></script>
<!-- Isotope js -->
<script src="/javascripts/isotope.pkgd.min.js"></script>
<!-- Imagesloaded js -->
<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
<!-- Mixitup js -->
<script src="/javascripts/jquery.mixitup.min.js"></script>
<!-- Countdown -->
<script src="/javascripts/jquery.countdown.min.js"></script>
<!-- Counterup -->
<script src="/javascripts/jquery.counterup.min.js"></script>
<!-- Waypoints -->
<script src="/javascripts/waypoints.min.js"></script>
<!-- Barrating -->
<script src="/javascripts/jquery.barrating.min.js"></script>
<!-- Jquery-ui -->
<script src="/javascripts/jquery-ui.min.js"></script>
<!-- Venobox -->
<script src="/javascripts/venobox.min.js"></script>
<!-- Nice Select js -->
<script src="/javascripts/jquery.nice-select.min.js"></script>
<!-- ScrollUp js -->
<script src="/javascripts/scrollUp.min.js"></script>
<script src="/javascripts/Croppie.js"></script>
<script src="/javascripts/tata.js"></script>
<!-- Main/Activator js -->
<script src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/HoldOn.js"></script>
<script type="text/javascript" src="UserPersonalAccountScript.js"></script>
<script type="text/javascript" src="LogoutScript.js"></script>
<script type="text/javascript" src="RoundImageScript.js"></script>
<script>
    $(document).ready(function () {
        $('.img-round').roundImage();
    });
</script>
</body>

</html>
